# binary
/cloudcam
/vendor

# axis files
.eap-install.cfg
.target-makefrag
*.var_log_messages.txt
*.var_log_messages.old
*.eap
*.eap.old
package.conf.orig
Axis.vmwarevm
Axis-ACAP

# cloudcam certs
certs/2dd9c753bf-certificate.pem.crt
certs/2dd9c753bf-private.pem.key

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
